@import '../../Presets';


// Card sectioning
.card-section{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns:20% 20% 20% 20%;;
    padding: 10px 0px;
    justify-content: space-around;

    @media #{$media-tablet} {
    grid-template-columns: 45% 45%;
    grid-template-rows: 200px 200px; 
    grid-gap:  10% 0px;
    }

         @media #{$media-mobile} {
            padding: 10px;
             grid-template-columns:100%;
             grid-template-rows: 200px;
             grid-gap: 20px;
         }
}




.card{
    text-align: start;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px 30px 30px;
    p{
        margin: 10px 0px;
    }
    img{
        margin: 0px;
    }
    .tag-text{
        font-size: fontSize(small);
        text-transform: uppercase;
        color: $text-color;
    }
    .number-count{
        color: $header-color;
        font-weight: fontWeight(bold);
        font-size: fontSize(big);
    }
}